* {
  font-family: 'Fjalla One', sans-serif;
}

a{
	text-decoration: none;
	color:deepskyblue;
}

a:hover {
  color:aquamarine;
}

a:visited {
  color: slateblue;
}

body {
 background-color: rgb(32,32,32);
 background-image: url(../images/ronaldo-de-oliveira-oSFskuTXzV8-unsplash.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

h1 {
  font-weight: 420;
  letter-spacing: .1em;
  padding: none;
}

h6 {
  font-weight: 100;
  padding: none;
}

header {
  color: white;
  margin: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  -ms-transform: translate(-70%, -15%);
  transform: translate(-140%, -15%);
  text-align: left;

  line-height: .9em;
  letter-spacing: .2em
}

hr {
  padding: 0;
}

li {
  padding: 0;
  list-style: none;
  display: inline;
  font-size: 1.7em;
}

ul {
  padding: 0;
}

@media(max-width:820px){
  header {
    color: aliceblue;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 15%;
    -ms-transform: translate(-15%, -75%);
    transform: translate(-15%, -75%);
    text-align: left;

    line-height: .9em;
    letter-spacing: .2em;
    font-size: .7em;
  }
  li {
    padding: .25em;
  }
}
